$font :"Lato", sans-serif;
$dark-color : #161616;
$white-color: #f1f1f1;
$pink : #e63e6f;


.concept {
    color: $white-color;
    font-family: $font;
    transition: all 0.3s;
    width:50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
        margin:15px 0;
        font-size: 1.1rem;
        min-width:100%;
    }
}

.card-wrapper {
    width:100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    gap:10px;
    margin-top: 50px;
}

.card {
    width:270px;
    height:263px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    border : 1px solid $white-color; 

    & p {
        text-align: center;
        margin-top: 10px;
    }

    & .iconify {
        margin-bottom: 10px;
        width: 25px;
        height: 25px;
    }
}

.zone {
    width:50%;
    & p {
        font-size: 1.1rem;
        margin: 15px 0;
    }
}


/* 

---------------Responsive---------

 */

@media screen and (max-width:647px) {
    .concept, .zone  {
        width:100%;
        margin:25px 0;
    }
}

@media screen and (max-width:576px) {
    .card {
        width:80%;
    }
}