@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url(../header/style-header.css);
@import url(../index/index.css);
@import url(../footer/style-footer.css);
$dark-color : #161616;
$white-color: #f1f1f1;
$pink : #e63e6f;
$font : "Lato", sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
}

body {
    background-color: $dark-color;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width:100%;
    padding: 0 10px 0 10px;
    margin : 70px 0 70px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:10px;
    font-family: $font;
    color: $white-color;
}

.img-medium  {
    width:300px;
}

.img-animed{
    overflow: hidden;
    transition: all 0.3s ease-out;
    & img {
        transition:all 0.3s ease-out
    }
    &:hover {
        transform:scale(0.95);
        & img {
            transform: scale(1.1);
        }
    }
}

h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
    border-left: 3px solid $pink;
    padding-left:5px;
    & span {
        display: inline-block;
    }
    & .iconify {
        display: inline-block;
        transform: rotate(135deg);
        width: 22px;
        height:22px;
        color:#e63e6f;
        position:relative;
        top:-8px;
        right:-5px;
        &.rotate-45 {
            transform: rotate(45deg);
        }
    }
}


/* 

---------------Responsive---------

 */


@media screen and (max-width:576px) {
    .img-animed {
        width:50%;
        min-width: 300px;
        & img {
            width:100%;
        }
    }
}